<div class="banner banner-index">
  <h1>Movie Time</h1>
</div>
<div class="container my-5">

  <!-- Error message if movie already exists -->
      <% flash.each do |type, msg| %>
      <div class="alert alert-warning ">
        <%= msg %>
      </div>
    <% end %>

  <div class="d-flex justify-content-end mt-5">
    <%= link_to 'New list', lists_path, "data-toggle" => "modal", "data-target" => "#create-new-list", class: 'btn btn-dark' %>
  </div>
  <div class="row justify-content-center mt-3">
    <% @lists.each do |list| %>
      <div class="col-6 col-md-4">
        <%= link_to list_path(list), { class: "text-decoration-none" } do %>
          <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x600/?horror)">
            <h3><%= list.name %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<!-- Create list modal -->
<div class="modal fade" id="create-new-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
          <%= f.input :name %>
          <%= f.submit "Add list", class: 'btn btn-outline-success w-100'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
